{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container-amenities">
            <h2>Amenities</h2>
            <div class="Conferencing">
                <h3>Conferencing & Team building</h3>
                <p>Modern Conferencing facilities available for all your <br>corporate needs.</p>
                <p>Manicured grounds available for outdoor activities are <br>well.</p>
                <img src="" alt="">
            </div>

            <div class="Dine">
                <h3>Dine With Us</h3>
                <p>Eat freshly prepared food sourced from our garden and <br>local farmers. Serving meals daily until 10:00pm.</p>
                <img src="" alt="">
            </div>

            <div class="Drink">
                <h3>Drink With Us</h3>
                <p>Sample local beers, wines and fresh cocktails, plus an <br>array of coffee house.</p>
                <img src="" alt="">
            </div>

            <div class="Relaxation">
                <h3>Relaxation</h3>
                <p>Access to the swimming pool, nature walks, board<br>games, kids activities & overall serenity</p>
                <img src="" alt="">
            </div>

            <div class="Weddings">
                <h3>Weddings</h3>
                <p>Having a Wedding?</p>
                <p>What better place to say "I DO" than overlooking the <br>lake.</p>
                <p>Reach out for our Special Wedding packages</p>
            </div>
        </div>
    </main>
{% endblock %}

