{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <div class="header">
        <h1><i class="fas fa-tasks"></i> <span class="taskmaster-text">TechnoVista</span></h1>
    </div>

    <!-- Create Task Form Container -->
        <div class="form-container">
            <h2>Make Reservations</h2>
            <form id="createTaskForm" method="POST" action="{% url 'book' %}">
                {% if messages %}
                {% for message in messages %}
                    <div style="background-color: rgb(80, 180, 247);
                        padding: 10px;
                        border-radius: 10px;
                        margin: 10px;">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
                {% csrf_token %}
                
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name" required>
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
                
                <label for="arrival_date">Arrival Date</label>
                <input type="date" id="arrival_date" name="arrival_date" required>
                
                <label for="due_date">Due Date</label>
                <input type="date" id="due_date" name="due_date" required>
                
                <label for="population">Number of people</label>
                <select id="population" name="population" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                
                <div class="form-actions">
                    <button type="submit">Submit Reservation</button>
                </div>
            </form>
        </div>
        
    </div>
{% endblock %}