{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <div class="header">
        <h1>TechnoVista</h1>
    </div>

    <div class="form-container">
        <h2>Login</h2>
        <form action="" method="POST">
            {% if messages %}
                {% for message in messages %}
                    <div style="background-color: rgb(80, 180, 247);
                        padding: 10px;
                        border-radius: 10px;
                        margin: 10px;">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password">
            <button type="submit">Login</button>

            <div class="link">
                <a href="#">Forgot Password?</a>
                <a href="{% url 'register' %}">Create Account</a>
            </div>
        </form>
    </div>
{% endblock %}