{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <div class="header">
        <h1>TechnoVista</h1>
    </div>
    <div style="
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(111, 193, 248);
        ">
        <h2>Check your email for a password reset message. An email has been sent successfully.</h2>
    </div>
{% endblock %}